<div class="admin-userprofile-header">

    <div class="header-logo">
       <a href="/"><img src="/media/icon/home-care-logo.png" alt="" /></a> 
    </div>


    <div class="user-header-info">
        <p class="m-0">
            <%= username%>
        </p>
        <a href="/logout"><button class="btn-book">Logout</button></a>
    </div>

</div>