<div class="col-3">
    <div class="deshboard-link">
       <a href="/admin/alluser"><button class="btn-book w-100 mb-3">Users</button></a> 
       <a href="/admin/allbooking"><button class="btn-book w-100 mb-3">Booking</button></a> 
        <a href="/admin/allquery"><button class="btn-book w-100 mb-3">Query</button></a> 
    </div>
</div>