<footer class="desktop-footer">
    <div class="footer-container">
      <!-- Section 1: Logo and Site Name -->
      <div class="footer-section footer-logo">
       <a href="/"><img src="/media/icon/logo-footer.png" alt="Site Logo"></a> 
   
      </div>
      
      <!-- Section 2: Navigation Links -->
      <div class="footer-section footer-links">
        <strong>Useful Links</strong>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/service">Services</a></li>
          <li><a href="/about-us">About</a></li>
          <li><a href="/contact-us">Contact</a></li>
        </ul>
      </div>
      <div class="footer-section footer-btn">
        <p>Book Your Home care-services</p>
        <button class="btn-book mb-3"><i class="fa-solid fa-phone-volume me-2"></i> Book Now</button>
        <p>If You are a nurse in jaipur</p>
        <a href="/login"><button class="btn-standar">Are you a nurse ?</button></a>

      </div>
      <!-- Section 3: Contact and Social Links -->
      <div class="footer-section footer-contact">
        <p>Call: <a href="tel:+123456789">+123-456-789</a></p>
        <div class="social-links">
          <a href="https://wa.me/8440012556" target="_blank">
            <img src="/media/icon/whatsapp.webp" alt="WhatsApp">
          </a>
          <a href="https://instagram.com/yourprofile" target="_blank">
            <img src="/media/icon/instagram.webp" alt="Instagram">
          </a>
        </div>
      </div>
    </div>
</footer>
<div class="mobile-footer">
    <button class="btn-book"><i class="fa-solid fa-phone-volume me-2"></i> Book Now</button>
        <a href="https://wa.me/8440012556" target="_blank">
            <button class="Whatapp-btn"><i class="fa-brands fa-whatsapp me-2"></i> What's app</button>
        </a>
</div>