<div class="service-plan">
    <div class="container">
        <div class="testimonials">
            <div class="row">
                <div class="col-lg-12 col-lg-3">
                    <div class="testi-heading">
                        <h5>Testimonials</h5>
                        <p>What people say about Our Service</p>
                        <div class="swiper-navigation">
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-lg-9">
                    <div class="swiper testiSwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="testi-card">
                                    <div class="testi-img">
                                        <img src="/media/icon/customer1.jpg" alt="">
                                        <p>Rajababu</p>
                                    </div>
                                    <div class="testi-star">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                    <div class="testi-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus
                                            molestiae incidunt est beatae sapiente voluptate, dolorum molestias
                                            asperiores porro assumenda!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testi-card">
                                    <div class="testi-img">
                                        <img src="/media/icon/customer2.jpg" alt="">
                                        <p>Santosh Armeniaa
                                        </p>
                                    </div>
                                    <div class="testi-star">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                    <div class="testi-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus
                                            molestiae incidunt est beatae sapiente voluptate, dolorum molestias
                                            asperiores porro assumenda!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testi-card">
                                    <div class="testi-img">
                                        <img src="/media/icon/customer1.jpg" alt="">
                                        <p>Rajababu</p>
                                    </div>
                                    <div class="testi-star">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                    <div class="testi-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus
                                            molestiae incidunt est beatae sapiente voluptate, dolorum molestias
                                            asperiores porro assumenda!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testi-card">
                                    <div class="testi-img">
                                        <img src="/media/icon/customer2.jpg" alt="">
                                        <p>Rajababu</p>
                                    </div>
                                    <div class="testi-star">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                    <div class="testi-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus
                                            molestiae incidunt est beatae sapiente voluptate, dolorum molestias
                                            asperiores porro assumenda!</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="achievement">
    <div class="container">
        <div class="achievement-heading">
            <h5>Our Achievements</h5>
        </div>
        <div class="achievement-items">
            <div class="row justify-content-center g-3">
                <div class="col-lg-6 col-xl-3">
                    <div class="achievement-item">
                        <p><i class="fa-solid fa-users-line"></i>
                            Customers</p>
                        <h5>1000+</h5>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-3">
                    <div class="achievement-item">
                        <p><i class="fa-solid fa-house-circle-check"></i>Visit</p>
                        <h5>500+</h5>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-3">
                    <div class="achievement-item">
                        <p><i class="fa-solid fa-award"></i>Awards</p>
                        <h5>50+</h5>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-3">
                    <div class="achievement-item">
                        <p><i class="fa-regular fa-calendar-plus"></i>Years</p>
                        <h5>10+</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="faq-container">
        <div class="row">
            <div class="col-lg-12 col-xl-3">
                <div class="faq-heading">
                    <p>What questions did people ask</p>
                    <!-- <button class="btn-standar">View All</button> -->
                </div>
            </div>
            <div class="col-lg-12 col-xl-9">
                <div class="faq-items">
                    <div class="faq-item">
                        <h2 class="faq-question">
                            What are home nursing services in Jaipur?
                            <span class="faq-item-icon">+</span>
                        </h2>
                        <p class="faq-answer">
                            Home nursing services in Jaipur refer to professional health care provided to patients at
                            their residence, ensuring comfort and personalized care. These services include
                            <strong>nursing
                                care at home in Jaipur</strong>, where skilled nurses manage medical needs like wound
                            care,
                            medication administration, and post-surgery recovery. <strong>Home care services in
                                Jaipur</strong> also
                            encompass a range of non-medical support, such as daily assistance with mobility, hygiene,
                            and feeding, offered by trained <strong>caretakers in Jaipur</strong>. Whether it’s
                            <strong>patient care
                                services in Jaipur</strong> , <strong>health care at home Jaipur</strong>, these
                            services ensure a high level of care in the patient’s own environment. Home care nursing
                            services in Jaipur provide
                            peace of mind by delivering compassionate, professional support to enhance recovery and
                            quality of life at home.
                        </p>
                    </div>
                    <div class="faq-item">
                        <h2 class="faq-question">
                            How do home care services in Jaipur benefit patients?
                            <span class="faq-item-icon">+</span>
                        </h2>
                        <p class="faq-answer"><strong>Home care services in Jaipur</strong>,Home care services in Jaipur
                            provide patients with personalized medical
                            and non-medical assistance in the comfort of their homes, ensuring convenience and faster
                            recovery. These services, which include <strong> nursing care at home in Jaipur,</strong>
                            offer professional
                            support for post-operative care, chronic illness management, and elderly care. With skilled
                            nursing staff for <strong>home care in Jaipur</strong> and compassionate caretakers,
                            patients benefit from
                            individualized attention, reduced hospital visits, and improved emotional well-being. From
                            comprehensive <strong>patient care services in Jaipur</strong> to specialized home nursing
                            services in
                            Jaipur, these solutions promote health and independence. Whether it’s health care at home in
                            Jaipur or general care at home Jaipur, such services provide efficient and cost-effective
                            <strong>home health care services in Jaipur</strong> tailored to the patient’s needs.
                        </p>
                    </div>
                    <div class="faq-item">
                        <h2 class="faq-question">
                            What does home care nursing services in Jaipur include?
                            <span class="faq-item-icon">+</span>
                        </h2>
                        <p class="faq-answer"> <strong>Home care nursing services in Jaipur</strong> include a wide range of medical
                            and personal care tailored to patients’ specific needs. These services offer  <strong> nursing care
                                at home in Jaipur</strong>, where skilled nurses provide medical assistance such as wound care,
                            administering injections, monitoring vital signs, and managing chronic conditions. <strong> Home
                                care services in Jaipur</strong> also extend to non-medical support, including help with daily
                            activities like bathing, dressing, and mobility. With trained <strong>nursing staff for home care
                                in Jaipur</strong>, patients receive personalized attention in the comfort of their homes.
                        </p>
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>