<div class="service-section">
    <h2>Services Offered by Home Treat</h2>
    <hr>
    <a href="/home-care-service" class="service-link">
        <div class="service-item">
            <img src="/media/icon/Home Nursing.png" alt="">
            <p>Home Care Service</p>
        </div>
    </a>
    <a href="/nurse-on-call" class="service-link">
        <div class="service-item">
            <img src="/media/icon/Nurse on Call.png" alt="">
            <p>Nurse on Call</p>
        </div>
    </a>
    <a href="/doctor-at-home" class="service-link">
        <div class="service-item">
            <img src="/media/icon/Doctor at Home.png" alt="">
            <p>Doctor at Home</p>
        </div>
    </a>
    <div class="service-item">
        <img src="/media/icon/X Ray at Home.png" alt="">
        <p>Physio on Call</p>
    </div>
    <div class="service-item">
        <img src="/media/icon/ECG Test At Home.png" alt="">
        <p>ICU Satup on Home</p>
    </div>

    <div class="service-item">
        <img src="/media/icon/Baby Care.png" alt="">
        <p>Baby Care</p>
    </div>
    <div class="service-item">
        <img src="/media/icon/Patient Care.png" alt="">
        <p>Patient Care</p>
    </div>
    <div class="service-item">
        <img src="/media/icon/Elderly Care.png" alt="">
        <p>Elderly Care</p>
    </div>
    <div class="service-item">
        <img src="/media/icon/Vaccination at Home.png" alt="">
        <p>Vaccination at Home</p>
    </div>
    <div class="service-item">
        <img src="/media/icon/Sleep Study.png" alt="">
        <p>Sleep Study</p>
    </div>
    <div class="service-item">
        <img src="/media/icon/Attendant Services.png" alt="">
        <p>Attendant Services</p>
    </div>

</div>